
<div style="float: left; width: 75%" id="Lorem ipsum">
  <div class="navbar">

  </div>
  <p> cokolwiek </p>
  <ul>
    <li>element 1</li>
    <li>element 2</li>
    <li>element 3</li>
    <div class="nav"></div>
  </ul>

</div>
<div style="float: left; width: 25%" id="Puste miejsce";>
  <img class="rounded float-right" align="right" src="../../../assets/jak.jpg">

    <p> cokolwiek </p>
    <p> cokolwiek </p>
    <p> cokolwiek </p>
    <p> cokolwiek </p>


</div>
<script src="js/navbar.js"></script>

